html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
  background: #B8B08D;
  color: #283845;
}
ul{list-style: none;margin: 0;}
a{text-decoration: none; color: #fff;}
h1{
  font-size: 6em;
  margin: 0;
  font-family: 'Playfair Display', serif;
}

h3{
  font-size: 1em;
  margin:0;
  font-family: 'Ek Mukta', sans-serif;
}
.homepage-wrapper{
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: url('/images/homepage_bg.png');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.about-wrapper{
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: #283845;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.center-vertically{
  position: absolute;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  top: 50%;
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

.section-wrapper{
  width: 70%;
  margin: 0 auto;
  color: #B8B08D;
}

.about-picture{
  margin-top:50px;
  height: 200px;
  width: 200px;
  border-radius: 100px;
  overflow: hidden;
}

.hillary{
  height: 370px;
  margin-left: -40px;
}

.monica{
  height: 265px;
  margin-left: -10px;
}

.desc{
  width: 50%;
  float:right;
  margin-top: -220px;
}

.slider{
  width: 90%;
  margin: 0 auto;
  position: relative;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  top: 50%;
}
.slider img{
  max-height: 800px;
  max-width: 920px;
}
:global .load-enter {
  opacity: 0.01;
}

:global .load-enter.load-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

:global .load-leave {
  opacity: 1;
}

:global .load-leave.load-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}
:global .load-appear {
  opacity: 0.01;
  transition: opacity .5s ease-in;
}
:global .load-appear.load-appear-active {
  opacity: 1;
}
:global .slick-list{
  width: 100%;
}
