html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
  background: #2C2946;
  color: #3B2E40;
}
ul{list-style: none;margin: 0;}
a{text-decoration: none; color: #fff;}
h1{
  font-size: 6em;
  margin: 0;
  font-family: 'Playfair Display', serif;
}

h3{
  font-size: 1em;
  margin:0;
  font-family: 'Ek Mukta', sans-serif;
}
.homepage-wrapper{
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: #aed581;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.homepage-wrapper:before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  right: 0;
  width: 0;
	height: 0;
	border-top: 900px solid red;
	border-left: 900px solid transparent;
  opacity: 0.6;
  z-index: -1;
}

.center-vertically{
  position: absolute;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  top: 50%;
  width: 100%;
  margin: 0 auto;
}
.slider{
  width: 90%;
  margin: 0 auto;
  position: relative;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  top: 50%;
}
.slider img{
  max-height: 800px;
  max-width: 920px;
}
:global .load-enter {
  opacity: 0.01;
}

:global .load-enter.load-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

:global .load-leave {
  opacity: 1;
}

:global .load-leave.load-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}
:global .load-appear {
  opacity: 0.01;
  transition: opacity .5s ease-in;
}
:global .load-appear.load-appear-active {
  opacity: 1;
}
:global .slick-list{
  width: 100%;
}
